/* Global Styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
}

/* Mission Section Styles */
.hero-section {
  height: 60vh;
  width: 100%;
  padding: 16px;
  background-color: #000000;
  color: #ffffff;
  background-image: linear-gradient(#00000031, rgba(0, 0, 0, 0.7)),
    url("./assets/images/hero-section-image1.jpg");
  background-position: center;
  background-size: inherit;
  background-repeat: no-repeat;
  text-align: center;
}
.missions-filters-section {
  padding: 10px;
  height: 100px;
  position: relative;
  bottom: 50px;
}
.mission-detail-name {
  display: inline-block;
  width: 110px;
}

/* NotFound Page Styles */
.notfound-page {
  min-height: 80vh;
  min-width: 80vw;
}
